<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebProxyUser" value=""/>
    <add key="WebProxyPassword" value=""/>
    <add key="WebProxyServer" value=""/>
    <add key="WebProxyDomain" value=""/>
    <add key="ServicePulseBaseUrl" value="http://localhost:9090"/>
    <add key="EnvironmentName" value="Development"/>
    <add key="SlackUri" value="https://hooks.slack.com/services/MY_ACCESS_TOKEN"/>
  </appSettings>
</configuration>