<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ErrorDistributionGroupEmail" value="support@aftermansoftware.com"/>
    <add key="ServicePulseBaseUrl" value="http://localhost:9090"/>
    <add key="EnvironmentName" value="Development"/>
    <add key="SmtpServer" value="localhost"/>
    <add key="SmtpPort" value="25"/>
  </appSettings>
</configuration>